.git/
.github/
packages/lib/node_modules/
target/
common/target/
codegen/target/
fuzz/target/
packages/docs/
Makefile.toml
indexer/target/
packages/dashboard/.nuxt/
packages/dashboard/.output/
packages/dashboard/node_modules/
